@use 'variables' as *;
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  height: 100vh;
  background-image: repeating-linear-gradient(
      90deg,
      $secondary-color 0px,
      $secondary-color 1px,
      transparent 1px,
      transparent 104px
  ),
  repeating-linear-gradient(
      0deg,
      $secondary-color 0px,
      $secondary-color 1px,
      transparent 1px,
      transparent 104px
  ),
  repeating-linear-gradient(
      0deg,
      $secondary-color 0px,
      $secondary-color 1px,
      transparent 1px,
      transparent 26px
  ),
  repeating-linear-gradient(
      90deg,
      $secondary-color 0px,
      $secondary-color 1px,
      transparent 1px,
      transparent 26px
  ),
    linear-gradient(45deg, $primary-color, $primary-color);
  overflow: hidden;
}
