<div class="top-bar">
  <app-small-button
    (clickEmitter)="goToHistory()"
    label="Historique"
    type="button"
  />
</div>

<div appCornerHover>
  <h2>🎮 Atlasium</h2>

  <div class="games-container">
    <mat-card
      *ngFor="let game of games"
      class="game-card"
      tabindex="0"
      (click)="openGameOptions(game)"
    >
      <img [src]="'/images/' + game.photoUrl" alt="{{ game.name }}" mat-card-image />
      <mat-card-content>
        <h3 class="game-name">{{ game.name }}</h3>
      </mat-card-content>
    </mat-card>
  </div>
</div>
